---
import Icon from "./Icon.astro"
import Skills from "./Skills.astro"

const inputClasses = "block w-full rounded-[3px] border p-2.5 focus:ring"

const { location } = Astro.props
---

<section class="max-w-[65ch] mb-4 text-center mx-auto">
  <header class="stack gap-2 lg:gap-4">
    <h2 class="text-5xl">Platform</h2>
    <p class="text-xl">
      My children are growing up less than a mile away from their grandparents.
      My dream is that they make the same choice I did, and raise their children
      here. In order to do that, it's important that our community is labeled as <b
        >safe</b
      >, <b>welcoming</b>, and <b>prosperous</b>.
    </p>
  </header>
</section>
<Skills
  iconSize="4em"
  iconColor="var(--accent-light)"
  skills={[
    {
      title: "Safe",
      content:
        "Our Police and Fire Departments are incredibly important. While we've made some great strides over the past few years, there's still more work to be done. Let's retain our great first responders and recruit the brightest and the best to back them up.",
      icon: "shield-check",
    },
    {
      title: "Welcoming",
      content:
        "The most recent iteration of our City Council was unable to pass a simple update to our non-discrimination ordinance. As written, I can't say I would have supported it either. However, Livonia needs to make it clear that we're a community that cares about ALL people. I personally believe that this starts with leadership rather than legislation, but I'm excited to engage my City Council contemporaries in the conversation about civil rights in the 21st century.",
      icon: "house-line",
    },
    {
      title: "Prosperous",
      content:
        "Welcoming people is one thing, but welcoming commerce is another thing all together. It's 2023. It's time to look to the next stage of growth for our community. We've got too many vacant and blighted strip malls. While City Council isn't in the business of developing land, it should be in the business of engaging with those that do. Our Vision 21 Master Plan is a great outline. Let's stop talking and start building.",
      icon: "storefront",
    },
  ]}
/>
<section class="mb-4 mx-auto">
  <header class="stack gap-2 lg:gap-4">
    <h3 class="text-5xl text-center">What's your 4<sup>th</sup>?</h3>
    <p class="max-w-[65ch] text-xl">
      I understand that EVERYONE wants a community that's <b>safe</b>, <b
        >welcoming</b
      >, and
      <b>prosperous</b>. That's why I'm looking to see what your 4<sup>th</sup> hope
      is for the city. What's the one thing you'd like to change about the city?
      Is it a blighted strip mall? Is it accessibility for folks with mobility issues?
      Is it Access to city services? Let me know below and let's help shape Livonia's
      next generation together.
    </p>
  </header>
  <form
    name={`what-is-your-4th-${location}`}
    data-netlify="true"
    method="POST"
    action="/success"
    netlify-honeypot="bot-field"
    id={`what-is-your-4th-${location}`}
  >
    <input
      type="hidden"
      aria-hidden="true"
      name="form-name"
      value={`what-is-your-4th-${location}`}
    />
    <p class="hidden" aria-hidden="true">
      <label>
        Don't fill this out if you're human: <input name="bot-field" />
      </label>
    </p>
    <div
      class="flex gap-6 mt-12 justify-between items-start sm:items-end flex-col sm:flex-row"
    >
      <div class="flex-1">
        <label for="email" class="block font-bold">Your email *</label>
        <input
          type="email"
          name="email"
          id="email"
          required
          class={inputClasses}
        />
      </div>
      <div class="flex-1">
        <label for="name" class="block font-bold">Your 4<sup>th</sup> *</label>
        <input
          type="text"
          id="fourth"
          name="fourth"
          required
          class={inputClasses}
        />
      </div>

      <div>
        <button
          type="submit"
          class="rounded-full px-8 py-4 transition-colors focus:ring bg-[var(--accent-regular)] text-white hover:bg-[var(--accent-regular)]"
          >Submit <Icon icon="paper-plane-tilt" size="1.2em" /></button
        >
      </div>
    </div>
  </form>
</section>
